<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div id="user_card">
                <div class="d-flex justify-content-center">
                    <img src="https://cdn2.iconfinder.com/data/icons/web-solid/32/user-512.png" id="brand_logo"
                        alt="Logo">
                    <a>Retrouver Votre mot de pass!</a>
                </div>

                <br>

                <div class="d-flex justify-content-center form_container">

                    <form>
                        <div class="form-group mb-1">
                            <label for="uname">Adress mail</label>
                            <div class="input-group-append">
                                <span class="fa fa-user form-control-icon"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="exemple:XXXX@gmail.com">
                        </div>
                        <br>
                        <div class="form-group mb-1">
                            <label for="uname">Tel</label>
                            <div class="input-group-append">
                                <span class="fa fa-phone form-control-icon" aria-hidden="true"></span>
                            </div>
                            <input type="text" class="form-control" placeholder="77 000 00 00">
                        </div>
                        <br>

                    </form>
                </div>
                <div class="form-group">
                    <div class="d-flex justify-content-center mt-3 login_container">
                        <button type="submit" name="button" class="btn login_btn">Retrouver</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
