<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid ">
    <div class="row">

      <div class=" col-md-12 text-*-left" style="background-color:#22B0DD">
        <h2 id="policeEtud"> <img src="https://image.flaticon.com/icons/png/512/1149/1149700.png" id="img"> <a href="#"
            id="ahrefEtud"> ESPACE FINANCE </a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="row mt-3 container-sm text-*-center"style="background-color:#22B0DD">
          <h2><a href="#" id="yass"> {{nomUser}} {{prenomUser}}</a></h2>
        </div>

        <div class="row btn btn-lg mt-4 container-sm barreDec"style="background-color:#22B0DD">
          <br><br><br><br><br><br><br><br><br><br><br><br><br>
          <a [routerLink]="['/login']" class="couleur"> <img src="https://cdn.icon-icons.com/icons2/2248/PNG/128/logout_icon_138409.png" class="img">
           Deconnexion  </a>
        </div>
      </div>
      <div class="col-md-9 mt-3 container-xl ">
        <img class="img-fluid" src="https://www.comarch.fr/files-fr/file_42/banque-et-finance.png">
        <div class="clic">
          Pour avoir plus d'infos concernant la finance de l'entreprise rendez vous sur ce lien:<a
            href="https://simplon.co/blog/actualites/simplon-co-leve-12-millions-d-euros-a-nouveau-aupres-de-son-pool-d-investisseurs-de-l-ess-afin-d-accelerer-son-changement-d-echelle.html">
            Cliquez-ici</a>
        </div>
      </div>
    </div>
  </div>

  <div class="conatainer">
    <div class="row text-*-center lien "style="background-color:#22B0DD">
      <a href="copyright" class="link .text-center">hakassa@copyright</a>
    </div>
  </div>
</body>

</html>



<!-- <body>
  <div class="jumbotron text-left" id="header">
    <div>
        <h2 id="policeEtud" > <img src="https://image.flaticon.com/icons/png/512/1149/1149700.png" id="img" > <a href="#" id="ahrefEtud" >   FINANCE ESPACE </a></h2>
    </div>
  </div>
  <div>
      <div class="body">
        <div class="jumbotron" id="espacetud">
          <div><a href="#" id="baraka"> Tidjane Toure</a></div>
          <div class="jumbotron" id="footer">
            <br><br><br>
            <br><br><br>
            <br>
          </div><br>

          <a href="#" id="deconnexion"><button id="button">  <p><img src="https://image.flaticon.com/icons/png/512/56/56805.png" id="buttondeconnexion" >
            Deconnexion </p></button></a>
        </div>

        <div style="width: 100%;">
          <div id="background">
          </div>
          <p id="info">
            Pour la finance de l'entreprise rendez vous sur ce lien:<a href="https://simplon.co/blog/actualites/simplon-co-leve-12-millions-d-euros-a-nouveau-aupres-de-son-pool-d-investisseurs-de-l-ess-afin-d-accelerer-son-changement-d-echelle.html">  Cliquez-ici</a>
          </p>
        </div>
      </div>
  </div>
  <div class="jumbotron text-center" id="footer2">
    <a href="#"><p id="copyright" > hakassa@copyright</p>
    </a>
  </div>
</body> -->
