#policeEtud {
  font-size: xx-large;
  font-weight: bold;
  margin: 1px;
}

#img {
  width: 50px;
  height: 50px;
  color: black;
}

#ahrefEtud {
  color: black;
}

#yass {
  color: black;
  margin-bottom: 3px;
}

#info {
  text-align: center;
  background-color: rgb(93, 138, 177);
  height: 80px;
  font-size: 20px;
  font-weight: bold;
}

.img-fluid {
  width: 100%;
  margin-left: 0%;
  float: left;
}

.barreDec {
  height: 570px;
  color: rgb(13, 13, 14);
}

.img {
  width: 65px;
}

.lien {
  justify-content: center;
  padding: 1%;

}

.clic {
  border: 10%;
  text-align: center;
}
