<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Document</title>
</head>

<body>
  <div class="container-fluid ">
    <div class="row">

      <div class="bg-primary col-md-12 text-*-left">
        <h2 id="policeEtud"> <img
            src="https://cdn.icon-icons.com/icons2/809/PNG/512/book_dictionary_icon-icons.com_66121.png" id="img"> <a
            href="#" id="ahrefEtud"> ESPACE FORMATEUR</a></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="row bg-primary mt-3 container-sm text-*-center">
          <h2><a href="#" id="yass"> {{nomUser}} {{prenomUser}} </a></h2>
        </div>

        <div class="row btn btn-primary btn-lg mt-4 container-sm barreDec">
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
         <a [routerLink]="['/login']" class="Deconnexion"> <img src="https://cdn.icon-icons.com/icons2/2248/PNG/128/logout_icon_138409.png" class="img">
           Deconnexion  </a>
        </div>
      </div>
      <div class="col-md-9 mt-3 container-xl ">
        <img class="img-fluid"
          src="https://static.wixstatic.com/media/a27d24_0304597480ec46808428a884775237ca~mv2.jpg/v1/fill/w_1000,h_692,al_c,q_90,usm_0.66_1.00_0.01/a27d24_0304597480ec46808428a884775237ca~mv2.jpg">
        <div class="clic">
          Pour avoir plus d'infos concernant les formateurs de l'entreprise rendez vous sur ce lien:<a
            href="https://simplon.co/blog/actualites/simplon-co-leve-12-millions-d-euros-a-nouveau-aupres-de-son-pool-d-investisseurs-de-l-ess-afin-d-accelerer-son-changement-d-echelle.html">
            Cliquez-ici</a>
        </div>
      </div>
    </div>
  </div>

  <div class="conatainer">
    <div class="row bg-primary text-*-center lien ">
      <a href="copyright" class="btn btn-primary link .text-center">hakassa@copyright</a>
    </div>
  </div>
</body>

</html>
